<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('我的绩效')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="self-form">
					<div class="select-list">
						<ul>
							<li>
								考核计划：<input type="text" name="planName"/>
							</li>
							<li>
								考核状态：<select name="appraisalStatus" th:with="type=${@dict.getType('perf_appraisal_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var evaluateFlag = [[${@permission.hasPermi('perf:self:evaluate')}]];
		var cycleDatas = [[${@dict.getType('perf_cycle_type')}]];
		var statusDatas = [[${@dict.getType('perf_appraisal_status')}]];
		var gradeDatas = [[${@dict.getType('perf_grade')}]];
		var prefix = ctx + "perf/self";

		$(function() {
			var options = {
				url: prefix + "/list",
				detailUrl: prefix + "/detail/{id}",
				modalName: "考核单",
				showSearch: false,
				columns: [
				{
					field: 'planName',
					title: '考核计划'
				},
				{
					field: 'cycleType',
					title: '考核周期',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(cycleDatas, value);
					}
				},
				{
					field: 'reviewerName',
					title: '评分人'
				},
				{
					field: 'appraisalStatus',
					title: '考核状态',
					align: 'center',
					formatter: function(value, row, index) {
						var label = $.table.selectDictLabel(statusDatas, value);
						if (value == '0' && row.leaderComment && row.leaderComment.indexOf('【退回】') == 0) {
							label += ' <span class="badge badge-danger" title="' + $.common.escapeHtml(row.leaderComment) + '">已退回</span>';
						}
						return label;
					}
				},
				{
					field: 'selfScore',
					title: '自评得分',
					align: 'center'
				},
				{
					field: 'finalScore',
					title: '最终得分',
					align: 'center',
					formatter: function(value, row, index) {
						return row.appraisalStatus == '2' ? value : '-';
					}
				},
				{
					field: 'grade',
					title: '绩效等级',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(gradeDatas, value);
					}
				},
				{
					field: 'planRank',
					title: '计划内排名',
					align: 'center'
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						if (row.planStatus == '1' && row.appraisalStatus == '0') {
							actions.push('<a class="btn btn-primary btn-xs ' + evaluateFlag + '" href="javascript:void(0)" onclick="evaluate(\'' + row.appraisalId + '\')"><i class="fa fa-pencil"></i>去自评</a> ');
						}
						actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.appraisalId + '\', 1000)"><i class="fa fa-search"></i>详细</a>');
						return actions.join('');
					}
				}]
			};
			$.table.init(options);
		});

		/* 员工自评 */
		function evaluate(appraisalId) {
			$.modal.openTab("员工自评", prefix + "/evaluate/" + appraisalId);
		}
	</script>
</body>
</html>
